controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

joint_trajectory_controller:
  ros__parameters:
    joints:
      - base_shoulder_joint
      - arm_joint
      - joint3

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity
      
      # --- EKLENEN KISIM BASLANGICI ---
    gains:
      base_shoulder_joint: {p: 5000.0, i: 10.0, d: 50.0} # Prizmatik ekleme yuksek guc
      arm_joint: {p: 100.0, i: 0.1, d: 1.0}
      joint3: {p: 100.0, i: 0.1, d: 1.0}
    # --- EKLENEN KISIM BITISI ---
